// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  .products-item {
  }
  
  .product-detail {
    margin-bottom: 1em;
    margin-right: 1em;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 1em;
    overflow: hidden;
  }
}
